.title {
  font-size: 3em;
  color: #000;
  margin-left: 10%;
}

.explanation {
  font-size: 1.5em;
  color: #000;
  margin-left: 10%;
  margin-right: 10%;
}

.subtitle {
  font-size: 2em;
  color: #000;
  margin-left: 10%;
}
.input-title {
  font-size: 1.25em;
  color: #000;
  margin-left: 10%;
}
.input-text {
  font-size: 1.25em;
  color: #000;
  margin-left: 10%;
}

.input-section {
  margin-left: 10%;
  border: solid 1px #000;
  width: 300px;
  height: 600px;
}

.input-field {
  width: 100px;
  margin-top: 10px;
}

.graph-section {
  border: solid 1px #000;
  width: 900px;
  height: 600px;
  margin-left: 25px;
}

.input-graph-section {
  display: flex;
  flex-direction: row;
}
